<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="author" content="Gavin">
        <title>智游教育</title>
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/all.css">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container dropdown">
                <div class="row">
                    <a class="navbar-brand" href="#">智游教育</a>
                    <div class="navbar-text pull-right text-right">
                        <span onclick="location.href=' '"><span class="glyphicon glyphicon-plus"></span> 提问</span>&#x3000;
                            <span class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span>
                            </span>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a class="text-right" href="">退出</a></li>
                            </ul>
                            <p>暂时没有内容</p>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container questions">
                <p></p>
        </div>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
    </body>
</html>